.heading
{
    font-size: 200%;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 1%;
}
.subheading
{
    font-size: 150%;
    color: #000;
    text-align: center;
    padding: 1%;
}
.input_area
{
    display: flex;
    border: 1px solid black;
}
.input_area .select_area
{
    width: 30%;
    padding: 1%;
}
.input_area .select_area label
{
    font-size: 150%;
}
.input_area .select_area select
{
    width: 90%;
    font-size: 130%;
    outline: none;
}
.input_area button
{
    width: 20%;
    font-size: 150%;
    padding: 1%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.input_area button:hover
{
    background-color: #fff;
    color: #000;
}
.team_img
{
    display: flex;
    justify-content: center;
}
.team_img .icon
{
    width: 20%;
    padding: 1%;
}
.team_img .icon img
{
    width: 100%;
}